@model Repositorio.tb_Adjunto 
@{
    
}

<h1 class="page-header">
    Importar Pólizas
</h1>

<div id="list"></div>

@using (Html.BeginForm("ImportarPolizas", "Poliza", FormMethod.Post, new { id = "frm-adjuntos" }))
{
    //@Html.HiddenFor(x => x.Alumno_id)
    <div class="form-group">
        <label>Seleccione un documento a subir</label>
        <input type="file" name="Ruta" id="Ruta"/>


    </div>
    <div class="text-right">
        <button data-ajax="true" data-confirm="¿Esta seguro que desea importar estas pólizas?" type="submit" class="btn btn-primary">Importar</button>
    </div>
}


<script>

    function MensajeGrabacion() {
        alert("La importación fue exitosa.");
    }

</script>
