@{
    Layout = null;
    string controlador = ViewContext.RouteData.Values["Controller"].ToString().ToLower();

    Repositorio.tb_Usuario usuario = new Model.UsuarioBL().ObtenerUsuario(Seguridad.SessionHelper.GetUser());

}
<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title  | Portfolio V 1.0.0</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet" />

    <script src="~/assets/js/jquery-3.3.1.min.js"></script>

</head>
<body>

    @if (controlador != "login")
    {
        <nav class="navbar navbar-inverse">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display default -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img id="user-pic" src="~/Assets/Images/Logo.jpg" />
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="menu">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="~/periodo">Periodo</a>
                        </li>
                        <li>
                            <a href="~/poliza">Poliza</a>
                        </li>
                        <li>
                            <a href="~/admin/experiencia?tipo=2">Reserva</a>
                        </li>
                        <li>
                            <a href="~/admin/habilidades">Reportes</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <img id="user-pic" src="~/Assets/Images/Usuario.jpg" />
                                <b>Hola</b>, @(usuario.Nombre + " " + usuario.Apellido ) <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="~/login/logout">Finalizar Sesión</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    }

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                @RenderBody()
            </div>
        </div>

            <div class="well text-center">
                <ul class="nav navbar-nav">
                    <li>
                        Administrador Seguros RRVV V 1.0.0
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="text-right">
                        2018 - Proyecto desarrollado por Jaime Guerrero
                    </li>
                </ul>
            </div>
    </div>

    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.validate.min.js"></script>
    <script src="~/assets/js/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/assets/js/ini.js"></script>
    <script src="~/assets/js/jquery.form.js"></script>

    <script src="~/assets/js/jquery.anexgrid.min.js"></script>

</body>
</html>
